@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Almarai", sans-serif !important;
}

img {
  width: 100%;
}

.article-category {
  padding: 5px 10px;
  background-color: #B80000;
  color: #fff;
  margin-left: 10px;
}
.article-title {
  font-size: 20px;
  display: inline;
  color: #000;
}
.article-link {
  text-decoration: none;
  color: #000;
}
.article-link:hover .article-title {
  text-decoration: underline;
}

.section-title {
  color: #000;
  line-height: 50px;
  position: relative;
  margin-right: 30px;
  margin-bottom: 40px;
}
.section-title::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 100%;
  top: 0;
  right: -30px;
  background-color: #B80000;
}

.navbar-small {
  padding: 0 !important;
  transition: all 0.5s;
}

header .navbar {
  padding: 10px;
  border-bottom: 1px solid #B1AEAE;
  background-color: #fff;
}
header .navbar-brand {
  color: #B80000;
  font-size: 30px;
}
header .navbar .nav-link {
  color: #000;
  font-size: 20px;
  margin-right: 20px;
  transition: all 0.5s;
}
header .navbar .nav-link:hover {
  color: #B80000;
  text-decoration: underline;
}
header .navbar .login {
  position: relative;
}
header .navbar .login i {
  font-size: 30px;
  margin-left: 15px;
  color: #B1AEAE;
  cursor: pointer;
}
header .navbar .login-container {
  position: absolute;
  width: 250px;
  height: 80px;
  background-color: #fff;
  border: 1px solid #B1AEAE;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  top: 50px;
  right: -115px;
  visibility: hidden;
  transition: all 0.5s;
}
header .navbar .login-container::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #fff;
  transform: rotate(45deg) translateX(50%);
  top: -18px;
  right: 50%;
  border-top: 1px solid #B1AEAE;
  border-left: 1px solid #B1AEAE;
}
header .navbar .login-container .button {
  background-color: #B80000;
  color: #fff;
  border: 1px solid #B80000;
  padding: 2px 30px;
  border-radius: 5px;
  transition: all 0.5s;
  text-decoration: none;
  visibility: hidden;
}
header .navbar .login-container .button:hover {
  background-color: #fff;
  color: #B80000;
}
header .navbar .login:hover .login-container {
  visibility: visible;
}
header .navbar .login:hover .login-container .button {
  visibility: visible;
}
header .navbar .login-button .button {
  background-color: #B80000;
  color: #fff;
  border: 1px solid #B80000;
  padding: 2px 30px;
  border-radius: 5px;
  transition: all 0.5s;
  text-decoration: none;
  font-size: 16px;
  width: 50%;
  margin: 15px auto;
  text-align: center;
  display: none;
}
header .navbar .login-button .button:hover {
  background-color: #fff;
  color: #B80000;
}
header .navbar form .search-icon {
  padding: 2px;
}
header .navbar form .search-icon i {
  font-size: 30px;
  color: #B80000;
}
header .header-news {
  margin-top: 50px;
}
header .header-news .carousel-news {
  margin-top: 50px;
  position: relative;
}
header .header-news .carousel-news::after {
  position: absolute;
  content: "";
  left: -10px;
  top: 150px;
  height: 200px;
  width: 20px;
  background-color: #B80000;
}
header .header-news .carousel-text {
  padding: 20px 10px 70px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  right: 0;
  bottom: 0;
  width: 750px;
}
header .header-news .carousel-text h3 {
  font-size: 22px;
  position: relative;
}
header .header-news .carousel-text h3::after {
  content: "";
  position: absolute;
  height: 85px;
  width: 5px;
  background-color: #B80000;
  top: -10px;
  left: 250px;
}
header .header-news .carousel-indicators {
  left: -550px;
}
header .header-news .carousel-indicators button {
  height: 20px;
  width: 20px;
  text-indent: 0;
}
header .header-news .carousel-item img {
  max-height: 490px;
}
header .header-news .carousel-item:hover .carousel-text {
  text-decoration: underline;
}
header .header-news .header-articles {
  margin-top: 50px;
}
header .header-news .header-articles .row {
  margin-top: 40px;
}

section.news {
  padding: 50px;
}
section.news .article-link img {
  max-height: 170px;
}
section.news .article-link .article-text h5 {
  font-size: 18px;
}
section.news .button {
  background-color: #B80000;
  color: #fff;
  border: 1px solid #B80000;
  padding: 2px 30px;
  border-radius: 5px;
  transition: all 0.5s;
  text-decoration: none;
  font-size: 20px;
}
section.news .button:hover {
  background-color: #fff;
  color: #B80000;
}
section.most-read {
  padding: 50px;
  background-color: #F0F0F0;
}
section.most-read .card-news {
  padding: 50px;
  background-color: #fff;
  margin: 30px;
}
section.most-read .card-news a {
  color: #000;
  text-decoration: none;
}
section.most-read .card-news:hover h4 {
  text-decoration: underline;
}
section.most-read .card-text h4 {
  font-size: 30px;
}
section.most-read .card-text p {
  font-size: 14px;
  margin: 35px auto;
}
section.most-read .card-text time {
  color: #B1AEAE;
  font-size: 16px;
}
section.most-read .card-img {
  position: relative;
  margin-bottom: 20px;
}
section.most-read .card-img::after {
  content: "";
  position: absolute;
  background-color: #B80000;
  height: 30px;
  width: 250px;
  bottom: -15px;
  right: 80px;
}
section.opinions {
  padding: 50px;
}
section.opinions a {
  text-decoration: none;
}
section.opinions .opinions-card {
  padding: 20px 10px;
  background-color: rgba(184, 0, 0, 0.3);
  margin-top: 25px;
  transition: all 0.5s;
}
section.opinions .opinions-card h5 {
  font-size: 16px;
  color: #000;
  text-align: center;
  font-weight: bold;
}
section.opinions .opinions-card .user-info {
  margin-top: 25px;
}
section.opinions .opinions-card .user-info img {
  width: 100px;
  clip-path: circle();
}
section.opinions .opinions-card .user-info span {
  font-size: 18px;
  color: #B80000;
  font-weight: bold;
}
section.opinions .opinions-card:hover {
  background-color: rgba(184, 0, 0, 0.6);
}
section.opinions .opinions-card:hover h5 {
  text-decoration: underline;
}
section.videos {
  padding: 50px;
  background-color: #000;
}
section.videos h2 {
  color: #fff;
  line-height: 50px;
  position: relative;
  margin-right: 30px;
  margin-bottom: 40px;
}
section.videos h2::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 100%;
  top: 0;
  right: -30px;
  background-color: #B80000;
}
section.videos .slide-img {
  position: relative;
}
section.videos .slide-img img {
  max-height: 250px;
  width: 100%;
  object-fit: cover;
}
section.videos .slide-img i {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  font-size: 60px;
  color: #fff;
}
section.videos .slide-text {
  margin-top: 30px;
  text-align: center;
}
section.videos .slide-text .article-title {
  color: #fff;
}
section.videos .swiper {
  width: 100%;
  height: 100%;
  padding: 20px 0 50px;
}
section.videos .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
section.videos .swiper-pagination {
  bottom: -5px;
}
section.videos .swiper-pagination-bullet {
  background-color: #B1AEAE;
  width: 20px;
  height: 20px;
  margin: 10px;
}
section.latest-news {
  padding: 50px;
}
section.latest-news .card-text p {
  margin-top: 10px;
  color: #000;
}
section.latest-news .button {
  background-color: #B80000;
  color: #fff;
  border: 1px solid #B80000;
  padding: 2px 30px;
  border-radius: 5px;
  transition: all 0.5s;
  text-decoration: none;
  font-size: 20px;
}
section.latest-news .button:hover {
  background-color: #fff;
  color: #B80000;
}

footer {
  padding-bottom: 50px;
}
footer .footer-title {
  margin-bottom: 30px;
  position: relative;
}
footer .footer-title::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 5px;
  background-color: #B80000;
  right: 0;
  bottom: -15px;
}
footer .link-unstyled {
  text-decoration: none;
  color: #000;
}
footer .social-media {
  list-style: none;
  padding: 0;
  text-align: center;
}
footer .social-media-icon {
  display: inline;
  margin: 10px;
}
footer .social-media-icon img {
  width: 40px;
}
footer .footer-brand {
  color: #B80000;
  font-size: 30px;
  margin: auto;
  text-decoration: none;
}

@media (max-width: 1400px) {
  header .header-news .carousel-item h3 {
    font-size: 18px;
  }
  header .header-news .carousel-item h3::after {
    left: 280px;
  }
  header .header-news .carousel-indicators {
    left: -500px;
  }
  .article-title {
    font-size: 18px;
  }
  .article-category {
    font-size: 14px;
  }
}
@media (max-width: 1200px) {
  header .header-news .carousel-item h3::after {
    left: 340px;
  }
  header .header-news .carousel-indicators {
    left: -400px;
  }
  header .header-news .carousel-news::after {
    height: 170px;
    top: 100px;
  }
  section.news .article-link .article-text h5 {
    font-size: 16px;
  }
  section.most-read .card-text h4 {
    font-size: 22px;
  }
  section.opinions .opinions-card {
    padding: 15px 7px;
  }
  section.opinions .opinions-card .user-info img {
    width: 85px;
  }
  .article-title {
    font-size: 14px;
  }
}
@media (max-width: 992px) {
  header .header-news .carousel-item h3::after {
    display: none;
  }
  header .header-news .carousel-indicators {
    left: 0;
  }
  header .login {
    display: none;
  }
  header .navbar .login-button .button {
    display: block;
  }
  section.most-read .card-news {
    padding: 25px;
  }
  section.most-read .card-text h4 {
    font-size: 16px;
  }
  section.most-read .card-text p {
    font-size: 12px;
    margin: 25px auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  section.most-read .card-text time {
    font-size: 12px;
  }
  section.most-read .card-img::after {
    height: 20px;
    bottom: -10px;
  }
  section.latest-news .article-title {
    font-size: 14px;
  }
  section.latest-news .article-category {
    font-size: 12px;
  }
  section.latest-news p {
    font-size: 14px;
  }
  .article-title {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  header .header-news .carousel-news::after {
    display: none;
  }
  section.most-read .card-news {
    padding: 15px;
  }
  section.most-read .card-img::after {
    display: none;
  }
  section.videos .swiper .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
  }
  footer {
    text-align: center;
  }
  footer .footer-title {
    color: #B80000;
    margin-top: 20px;
  }
  footer .footer-title::after {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
