@import './variables';
@import './mixins';


form {
    .button {
        @include button($white-color, $main-color, $main-color);
        font-size: 22px;
    }
}

a.ms-3 {
    color: $main-color;
}

.social-media-login {
    .login-button {
        color: $main-color;
        margin-left: 20px;
        margin-top: 10px;
        font-size: 25px;
        transition: all 0.5s;

        &:hover {
            color: rgba($color: $main-color, $alpha: 0.5);
        }
    }
}

@media (max-width: 992px) {
    body {
        main {
            .vh-100 {
                height: 100% !important;
            }
        }
    }
}